<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Accueil ICC</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"
            >Home
            <i class="bi bi-house"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/infos"
            >Infos
            <i class="bi bi-info"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about"
            >A Propos
            <i class="bi bi-question-circle"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="role !== undefined">
          <a class="nav-link" routerLink="/staraccount">compte {{ role }} </a>
        </li>

        <li class="nav-item dropdown" *ngIf="role !== undefined">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            aria-disabled="true"
          >
            Options
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                (click)="handleChoice('compter')"
                routerLink="/count"
                *ngIf="role !== 'BERGER'"
                >Compter <i class="bi bi-plus-slash-minus"></i
              ></a>
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="handleChoice('add')"
                routerLink="/add"
                *ngIf="role !== 'BERGER'"
                >Ajouter évènement <i class="bi bi-save"></i
              ></a>
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="handleChoice('change')"
                routerLink="/modify"
                *ngIf="role !== 'BERGER'"
                >Modifier évènement <i class="bi bi-arrow-clockwise"></i
              ></a>
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="handleChoice('search')"
                routerLink="/search"
                >Rechercher <i class="bi bi-search"></i
              ></a>
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="handleChoice('plot')"
                routerLink="/plot"
                *ngIf="role !== 'STAR'"
                >Visualiser</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/calcul">Calculer</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Rechercher"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>

      <button
        class="btn btn-outline-info ms-1"
        type="submit"
        routerLink="/connexion"
        *ngIf="role === undefined"
      >
        Se connecter
        <i class="bi bi-box-arrow-in-right"></i>
      </button>
      <button
        class="btn btn-outline-danger ms-1"
        type="button"
        *ngIf="role !== undefined"
        data-bs-toggle="modal"
        data-bs-target="#disconnectModal"
      >
        Se deconnecter
        <i class="bi bi-box-arrow-in-right"></i>
      </button>
    </div>
  </div>
</nav>

<!-- déconnecter modal -->
<div
  class="modal fade"
  id="disconnectModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Etes vous sûr?</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button
          (click)="role = undefined"
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          routerLink="/"
        >
          Oui
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
