<div class="container">
  <div class="card col-md-6 offset-3 mt-2">
    <div class="card-header">
      Ajouter Evenement
      <button class="btn btn-danger" (click)="handleLeave()">x</button>
    </div>
    <div class="card-body">
      <form [formGroup]="addupdateFormGroup" (ngSubmit)="handleaddUpdate()">
        <div class="mb-3">
          <label class="form-label">Date: </label>
          <input type="date" formControlName="date" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Type:</label>
          <select
            class="form-select"
            formControlName="typeEvent"
            aria-label="Default select example"
          >
            <option selected>choix</option>
            <option [ngValue]="1">Culte</option>
            <option [ngValue]="2">TPA</option>
            <option [ngValue]="3">MHI</option>
            <option [ngValue]="4">MFI</option>
            <option [ngValue]="5">MJI</option>
            <option [ngValue]="6">Corporate(24H,48H...)</option>
            <option [ngValue]="7">Séminaire</option>
            <option [ngValue]="8">Baptème</option>
            <option [ngValue]="9">MCEP</option>
            <option [ngValue]="10">MIJ</option>
            <option [ngValue]="11">MJI</option>
            <option [ngValue]="12">STAR</option>
            <option [ngValue]="13">Coktail de Bienvenue</option>
            <option [ngValue]="14">Autre</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Nom: </label>
          <input type="text" formControlName="name" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Debut: </label>
          <input type="time" formControlName="debut" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Fin: </label>
          <input type="time" formControlName="fin" class="form-control" />
        </div>

        <div class="mb-3">
          <label class="form-label">Conducteur: </label>
          <input
            type="text"
            formControlName="conducteur"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Hommes: </label>
          <input
            type="number"
            formControlName="hommes"
            placeholder="0"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Femmes: </label>
          <input
            type="number"
            formControlName="femmes"
            placeholder="0"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Enfants: </label>
          <input
            type="number"
            formControlName="enfants"
            placeholder="0"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Connexions: </label>
          <input
            type="number"
            formControlName="connexions"
            placeholder="0"
            class="form-control"
          />
        </div>
        <ng-container *ngIf="addupdateFormGroup.get('typeEvent')!.value == 1">
          <div class="mb-3">
            <label class="form-label">Nouveaux: </label>
            <input
              type=" number"
              formControlName="nouveauxHommes"
              placeholder="0"
              class="form-control"
            />
            <label class="form-label">H </label>
            <input
              type=" number"
              formControlName="nouveauxFemmes"
              placeholder="0"
              class="form-control"
            />
            <label class="form-label">F </label>
            <label class="form-label">
              Total:
              {{
                addupdateFormGroup.get("nouveauxHommes")!.value +
                  addupdateFormGroup.get("nouveauxFemmes")!.value
              }}</label
            >
          </div>
          <div class="mb-3">
            <label class="form-label">Hommes intercession: </label>
            <input
              type="number"
              formControlName="hommesIntercession"
              placeholder="0"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Femmes intercession: </label>
            <input
              type="number"
              formControlName="femmesIntercession"
              placeholder="0"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Enfants intercession: </label>
            <input
              type="number"
              formControlName="enfantsIntercession"
              placeholder="0"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Conducteur intercession: </label>
            <input
              type="text"
              formControlName="conducteurIntercession"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Enfants MIJ: </label>
            <input
              type="number"
              formControlName="enfantsMIJ"
              placeholder="0"
              class="form-control"
            />
          </div>
        </ng-container>
        <div class="mb-3">
          <label class="form-label">Titre: </label>
          <input type="text" formControlName="titre" class="form-control" />
        </div>

        <div class="mb-3">
          <label class="form-label">Modératrice: </label>
          <input
            type="text"
            formControlName="moderatrice"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Commentaire: </label>
          <input
            type="text"
            formControlName="commentaire"
            class="form-control"
          />
        </div>
        <button [disabled]="!addupdateFormGroup" class="btn btn-info">
          Proposer ajout
        </button>

        <button class="btn btn-danger" (click)="handleCancel()">Annuler</button>
      </form>
    </div>
  </div>
</div>
