<!-- <link
  href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    <h2>
      Connexion<br />
      Accueil ICC Metz
    </h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam quidem
      commodi ab vel maxime obcaecati dolorem laboriosam eaque! Tempora
      obcaecati cumque in magni quibusdam, incidunt cum autem quisquam
      laboriosam similique nisi suscipit eligendi repudiandae id perspiciatis
      libero qui, quia beatae, fuga voluptates ipsa dignissimos maxime iusto
      dolorem? Culpa, voluptas cum.
    </p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="connexionFormGroup" (ngSubmit)="handleConnexion()">
        <div class="form-group">
          <label>Utilisateur</label>
          <input
            type="text"
            class="form-control"
            placeholder="Utilisateur"
            formControlName="username"
          />
        </div>
        <div class="form-group">
          <label>Mot de passe</label>
          <input
            type="password"
            class="form-control"
            placeholder="Mot de passe"
            formControlName="mdp"
          />
        </div>
        <button type="submit" class="btn btn-black">Entrer</button>
        <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
      </form>
    </div>
  </div>
</div>
