<div>
  <div>
    <span class="badge text-bg-success text-center">compte {{ role }}</span>
  </div>
  <div class="row">
    <div class="col col-md-6">
      <div class="container mt-2">
        <div *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
        <div class="card" *ngIf="events">
          <div class="card-header">Evenements</div>
          <div class="card-body">
            <div class="card">
              <div class="card-header">Filtres</div>
              <div class="card-body">
                <div class="nav nav-pills">
                  <!-- BEGIN FILTER BY CATEGORY -->
                  <div class="col-6 text-start">
                    <p>Par type:</p>

                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      aria-disabled="true"
                    >
                      Evenement
                    </a>

                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item">Culte </a>
                      </li>
                      <li>
                        <a class="dropdown-item">TPA </a>
                      </li>
                      <li>
                        <a class="dropdown-item">MHI </a>
                      </li>
                      <li>
                        <a class="dropdown-item">MFI</a>
                      </li>
                      <li>
                        <a class="dropdown-item">MJI</a>
                      </li>
                      <li>
                        <a class="dropdown-item">corporate(24H,48H...)</a>
                      </li>
                    </ul>
                  </div>
                  <!-- END FILTER BY CATEGORY -->

                  <!-- BEGIN FILTER BY DATE -->
                  <div class="col-6 text-end">
                    <p>Par date:</p>

                    <div
                      class="input-group date form_date"
                      data-date="2014-06-14T05:25:07Z"
                      data-date-format="dd-mm-yyyy"
                      data-link-field="dtp_input1"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="A partir de"
                      />
                      <span class="input-group-addon bg-blue"
                        ><i class="fa fa-th"></i
                      ></span>
                    </div>
                    <input type="hidden" id="dtp_input1" value="" />

                    <div
                      class="input-group date form_date"
                      data-date="2014-06-14T05:25:07Z"
                      data-date-format="dd-mm-yyyy"
                      data-link-field="dtp_input2"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Jusqu'à"
                      />
                      <span class="input-group-addon bg-blue"
                        ><i class="fa fa-th"></i
                      ></span>
                    </div>
                    <button class="btn btn-outline-info mt-1">Search</button>
                    <input type="hidden" id="dtp_input2" value="" />
                  </div>
                  <!-- END FILTER BY DATE -->
                </div>
              </div>
            </div>

            <!-- END FILTERS -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Evenement</th>
                  <th>Debut</th>
                  <th>Fin</th>
                  <th>Conducteur</th>
                  <th *ngIf="role !== 'BERGER'">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of events.eventsDTOs">
                  <td>{{ e.date | date : "mediumDate" }}</td>
                  <td>{{ e.name }}</td>
                  <td>{{ e.debut }}</td>
                  <td>{{ e.fin }}</td>
                  <td>{{ e.conducteur }}</td>
                  <td>
                    <ul class="nav nav pills">
                      <li *ngIf="role !== 'BERGER'">
                        <a
                          (click)="handleDeleteEvent(e)"
                          class="btn btn-danger ms-1 mt-1"
                        >
                          <i class="bi bi-trash"></i>
                        </a>
                      </li>
                      <li *ngIf="role !== 'BERGER'">
                        <a
                          (click)="handleUpdate(e)"
                          class="btn btn-info ms-1 mt-1"
                        >
                          <i class="bi bi-arrow-clockwise"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="nav nav-pills">
              <li
                *ngFor="
                  let item of [].constructor(events.totalPages);
                  let page = index
                "
              >
                <a
                  [ngClass]="
                    page == currentPage ? 'btn-info' : 'btn-outline-info btn'
                  "
                  (click)="gotToPage(page)"
                  class="btn ms-1 mt-1"
                  >{{ page }}</a
                >
              </li>
            </ul>
            <div class="col col-md-6 text-center mt-2">
              <button class="btn btn-primary" type="button">+</button>
              <label for=""> Ajouter un évènement</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <nav class="p-3">
        <!-- <ul class="nav nav-pills">
          <li>
            <button class="btn btn-outline-info ms-1">
              COMPTER
              <i class="bi bi-plus-slash-minus"></i>
            </button>
          </li>
          <li>
            <button class="btn btn-outline-info ms-1">
              ENREGISTRER UN EVENEMENT
              <i class="bi bi-save"></i>
            </button>
          </li>
          <li>
            <button class="btn btn-outline-info ms-1">
              MODIFIER UN EVENEMENT
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </li>
          <li>
            <button class="btn btn-outline-info ms-1">
              RECHERCHER UN EVENEMENT
              <i class="bi bi-search"></i>
            </button>
          </li>
          <li>
            <button
              (click)="handleDeconnexion()"
              class="btn btn-outline-danger ms-1"
            >
              SE DECONNECTER
              <i class="bi bi-box-arrow-left"></i>
            </button> -->
        <!-- </li>
        </ul> -->
      </nav>
    </div>
  </div>
</div>
<!-- <-- rechercher évenements-> -->
