<div>
  <div>
    <span class="badge text-bg-success text-center">compte {{ role }}</span>
  </div>
  <div class="row">
    <div class="col col-md-6">
      <div class="container mt-2">
        <div *ngIf="errorMessage">
          There is an error :{{ errorMessage }}
          <button class="btn btn-primary">
            <i class="bi bi-arrow-clockwise" (click)="handleGetEvents()"></i
            >Reload
          </button>
        </div>
        <div class="card" *ngIf="events">
          <div class="card-header">Evenements</div>
          <div class="card-body">
            <div class="card">
              <div class="card-header">Filtres</div>
              <div class="card-body">
                <form
                  [formGroup]="filterFormGroup"
                  (ngSubmit)="handleSearchEvents()"
                >
                  <div class="nav nav-pills">
                    <!-- BEGIN FILTER BY CATEGORY -->
                    <div class="col-6 text-start">
                      <p>Par type:</p>

                      <select
                        class="form-select"
                        aria-label="Default select example"
                        formControlName="typeEvent"
                      >
                        <option selected>choix</option>
                        <option [ngValue]="1">Culte</option>
                        <option [ngValue]="2">TPA</option>
                        <option [ngValue]="3">MHI</option>
                        <option [ngValue]="4">MFI</option>
                        <option [ngValue]="5">MJI</option>
                        <option [ngValue]="6">Corporate(24H,48H...)</option>
                        <option [ngValue]="7">Séminaire</option>
                        <option [ngValue]="8">Baptème</option>
                        <option [ngValue]="9">MCEP</option>
                        <option [ngValue]="10">MIJ</option>
                        <option [ngValue]="11">STAR</option>
                        <option [ngValue]="12">Coktail de Bienvenue</option>
                        <option [ngValue]="13">Autre</option>
                      </select>
                    </div>
                    <!-- END FILTER BY CATEGORY -->

                    <!-- BEGIN FILTER BY DATE -->
                    <div class="col-6 text-end">
                      <p>Par date:</p>

                      <div
                        class="input-group date form_date"
                        data-date="2014-06-14T05:25:07Z"
                        data-date-format="dd-mm-yyyy"
                        data-link-field="dtp_input1"
                      >
                        <input
                          formControlName="debut"
                          type="date"
                          class="form-control"
                          placeholder=""
                        />
                        <span class="input-group-addon bg-blue"
                          >A partir de<i class="fa fa-th"></i
                        ></span>
                      </div>
                      <input type="hidden" id="dtp_input1" value="" />

                      <div
                        class="input-group date form_date"
                        data-date="2014-06-14T05:25:07Z"
                        data-date-format="dd-mm-yyyy"
                        data-link-field="dtp_input2"
                      >
                        <input
                          formControlName="fin"
                          type="date"
                          class="form-control"
                          placeholder=""
                        />
                        <span class="input-group-addon bg-blue"
                          >Jusqu'à<i class="fa fa-th"></i
                        ></span>
                      </div>
                      <button class="btn btn-outline-info mt-1">Filtrer</button>
                      <button
                        *ngIf="isFiltred == true"
                        class="btn btn-outline-danger mt-1"
                        (click)="handleCancelFilters()"
                      >
                        Annuler
                      </button>
                      <input type="hidden" id="dtp_input2" value="" />
                    </div>
                    <!-- END FILTER BY DATE -->
                  </div>
                </form>
              </div>
            </div>

            <!-- END FILTERS -->
            <ng-container *ngIf="isFiltred == false">
              <table
                class="table table-hover"
                aria-label="evenements en présentiel"
              >
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Evenement</th>
                    <th>Debut</th>
                    <th>Fin</th>
                    <th>Conducteur</th>

                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of events.eventsDTOs">
                    <td>{{ e.date | date : "mediumDate" }}</td>
                    <td>{{ e.name }}</td>
                    <td>{{ e.debut }}</td>
                    <td>{{ e.fin }}</td>
                    <td>{{ e.conducteur }}</td>

                    <td>
                      <ul class="nav nav pills">
                        <li>
                          <a
                            (click)="handleShow(e)"
                            class="btn btn-info ms-1 mt-1"
                          >
                            <i class="bi bi-eye"></i>
                          </a>
                        </li>
                        <li *ngIf="role !== 'BERGER'">
                          <a
                            (click)="handleDeleteEvent(e)"
                            class="btn btn-danger ms-1 mt-1"
                          >
                            <i class="bi bi-trash"></i>
                          </a>
                        </li>
                        <li *ngIf="role !== 'BERGER'">
                          <a
                            (click)="handleUpdate(e)"
                            class="btn btn-info ms-1 mt-1"
                            routerLink="/modify"
                          >
                            <i class="bi bi-pencil"></i>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ul class="nav nav-pills">
                <li
                  *ngFor="
                    let item of [].constructor(events.totalPages);
                    let page = index
                  "
                >
                  <a
                    [ngClass]="
                      page == currentPage ? 'btn-info' : 'btn-outline-info btn'
                    "
                    (click)="gotToPage(page)"
                    class="btn ms-1 mt-1"
                    >{{ page }}</a
                  >
                </li>
              </ul>
            </ng-container>
            <ng-container *ngIf="isFiltred == true">
              <ng-container *ngIf="events.eventsDTOs.length == 0">
                <strong>
                  Aucun évènement ne correspond à votre recherche</strong
                >
              </ng-container>

              <table
                *ngIf="events.eventsDTOs.length !== 0"
                class="table table-hover"
                aria-label="evenements en présentiel"
              >
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Evenement</th>
                    <th>Debut</th>
                    <th>Fin</th>
                    <th>Conducteur</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of events.eventsDTOs">
                    <td>{{ e.date | date : "mediumDate" }}</td>
                    <td>{{ e.name }}</td>
                    <td>{{ e.debut }}</td>
                    <td>{{ e.fin }}</td>
                    <td>{{ e.conducteur }}</td>
                    <td>
                      <ul class="nav nav pills">
                        <li>
                          <a
                            (click)="handleShow(e)"
                            class="btn btn-info ms-1 mt-1"
                          >
                            <i class="bi bi-eye"></i>
                          </a>
                        </li>
                        <li *ngIf="role !== 'BERGER'">
                          <a
                            (click)="handleDeleteEvent(e)"
                            class="btn btn-danger ms-1 mt-1"
                          >
                            <i class="bi bi-trash"></i>
                          </a>
                        </li>
                        <li *ngIf="role !== 'BERGER'">
                          <a
                            (click)="handleUpdate(e)"
                            class="btn btn-info ms-1 mt-1"
                            routerLink="/modify"
                          >
                            <i class="bi bi-pencil"></i>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ul class="nav nav-pills">
                <li
                  *ngFor="
                    let item of [].constructor(events.totalPages);
                    let page = index
                  "
                >
                  <a
                    [ngClass]="
                      page == currentPage ? 'btn-info' : 'btn-outline-info btn'
                    "
                    (click)="gotToPage(page)"
                    class="btn ms-1 mt-1"
                    >{{ page }}</a
                  >
                </li>
              </ul>
            </ng-container>

            <div class="col col-md-6 text-center mt-2">
              <button class="btn btn-primary" type="button" routerLink="/add">
                +
              </button>
              <label for=""> Ajouter un évènement</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="eventToShow as eS">
      <div class="col col-md-3" *ngIf="show == true">
        <div class="card">
          <div class="card-header">
            {{ eS.name }} du {{ eS.date | date : "dd-MM-yyyy" }}
            <button class="btn btn-danger text-end" (click)="closeShow()">
              x
            </button>
          </div>
          <div class="card-body">
            <div>
              <span class="badge rounded-pill text-bg-info">Evenement</span>
              <label class="">{{ eS.name }} </label>
            </div>
            <div>
              <span class="badge rounded-pill text-bg-info">Date</span>
              <label class="">{{ eS.date | date : "longDate" }} </label>
            </div>
            <div>
              <span class="badge rounded-pill text-bg-info">Début</span>
              <label class="">{{ eS.debut }} </label>
            </div>
            <div>
              <span class="badge rounded-pill text-bg-info">Fin</span>
              <label class="">{{ eS.fin }} </label>
            </div>
            <div>
              <span class="badge rounded-pill text-bg-info">Conducteur</span>
              <label class="">{{ eS.conducteur }} </label>
            </div>

            <div>
              <span class="badge rounded-pill text-bg-info">Hommes</span>
              <label class="">{{ eS.nombreHommes }} </label>
            </div>
            <div>
              <span class="badge rounded-pill text-bg-info">Femmes</span>
              <label class="">{{ eS.nombreFemmes }} </label>
            </div>
            <div>
              <span class="badge rounded-pill text-bg-info">Enfants</span>
              <label class="">{{ eS.nombreEnfants }} </label>
            </div>
            <div>
              <span class="badge rounded-pill text-bg-info">Connexions</span>
              <label class="">{{ eS.connexions }} </label>
            </div>
            <div class="nav nav-pills" *ngIf="role !== 'BERGER'">
              <button class="btn btn-danger">Supprimer</button>
              <button class="btn btn-info">Modifier</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
