<div id="intro-example" class="p-5 text-center bg-image">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Bienvenue au ministère de l'accueil</h1>
        <h5 class="mb-4">
          Ici, nous accueillons, orientons, accompagnons les membres ou invités
          venant participer au culte.
        </h5>
        <a
          rel="noopener"
          data-mdb-ripple-init
          class="btn btn-outline-light btn-lg m-2"
          routerLink="/connexion"
          role="button"
          rel="nofollow"
          target="_blank"
          >Se connecter</a
        >
        <a
          rel="noopener"
          data-mdb-ripple-init
          class="btn btn-outline-light btn-lg m-2"
          routerLink="/infos"
          target="_blank"
          role="button"
          >En savoir plus</a
        >
      </div>
    </div>
  </div>
</div>
