<div id="intro-example" class="p-5 text-center img-fluid">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Bienvenue au ministère de l'accueil d' ICC Metz</h1>
        <h5 class="mb-4">
          Ici, nous accueillons, orientons, et veillons au bon déroulement des
          évènements organisés à l'église.
        </h5>
        <a
          class="btn btn-outline-light btn-lg m-2"
          routerLink="/connexion"
          type="button"
          >Se connecter</a
        >
        <a
          class="btn btn-outline-light btn-lg m-2"
          routerLink="/infos"
          type="button"
          >En savoir plus</a
        >
      </div>
    </div>
  </div>
</div>
